In [2]:
print("Hello")

Hello

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('invoices.csv')

In [5]:
df.head()

,Date Invoiced,Date Paid,No. Days taken to Pay,Client Name,Invoice Reference,Invoice Amount,Paid Amount
0,2022-05-31,2024-04-05,675,1,2022-5916,105609.74,105609.74
1,2023-08-16,2024-04-05,233,1,2023-6512,263821.73,263821.73
2,2023-08-16,2024-04-05,233,1,2023-6512,90150.94,90150.94
3,2023-08-16,2024-04-05,233,1,2023-6512,8442.53,8442.53
4,2019-01-31,2019-09-17,229,1,2019-4610,102461.41,102461.40

In [6]:
# Replace the / to -
df.value_counts()

Date Invoiced  Date Paid   No. Days taken to Pay  Client Name  Invoice Reference  Invoice Amount  Paid Amount
2016-03-03     2016-03-03  0                      132          2016/2946          92443.50        8700.84        4
2019-04-30     2019-09-04  127                    43           2019-4732          63755.24        63755.24       4
2015-07-27     2015-09-01  36                     227          2015/2515          5803.96         40.15          3
2018-11-29     2018-12-27  28                     191          2018/4516          333958.71       333958.71      3
2015-06-09     2015-09-27  110                    227          2015/2432          167377.52       76.50          3
                                                                                                                ..
2016-10-30     2019-04-28  910                    195          2016/3331          209176.73       209176.73      1
                                                                                  152757.32       152757.32      1
                                                                                  135544.60       135544.60      1
                                                                                  67145.21        67145.21       1
2024-05-15     2024-05-21  6                      243          2024-6867          27151.58        27151.58       1
Name: count, Length: 5555, dtype: int64

In [7]:
duplicates = df[df.duplicated(keep=False)].drop_duplicates()
duplicates

,Date Invoiced,Date Paid,No. Days taken to Pay,Client Name,Invoice Reference,Invoice Amount,Paid Amount
240,2015-06-30,2015-09-20,82,10,2015/2469,113148.77,113148.77
263,2015-09-09,2015-11-11,63,11,2015/2609,7121.77,7121.77
376,2019-08-29,2019-10-23,55,14,2019-4863,437752.27,437752.27
378,2019-08-29,2019-10-23,55,14,2019-4863,227984.28,227984.28
380,2019-08-29,2019-10-23,55,14,2019-4863,251790.87,251790.87
...,...,...,...,...,...,...,...
4977,2015-03-18,2015-03-24,6,243,LS15/0003,26352.13,26352.13
5241,2016-03-30,2016-06-27,89,251,2016/2976,21834.81,21834.81
5251,2017-01-31,2017-04-03,62,251,2017/3504,21834.81,21834.81
5284,2023-02-27,2023-03-07,8,254,2023-6284,269344.93,269344.93
5416,2022-05-19,2022-06-08,20,260,2022-5899,458630.10,458630.10

In [8]:
df = df.drop_duplicates()

In [9]:
df.value_counts()

Date Invoiced  Date Paid   No. Days taken to Pay  Client Name  Invoice Reference  Invoice Amount  Paid Amount
2010-04-30     2019-03-31  3257                   35           2010/554           53598.84        1728.99        1
2018-12-31     2019-04-17  107                    169          2018/4572          105343.26       175.51         1
2019-01-16     2019-02-26  41                     15           2019-4587          29925.97        29925.97       1
2019-01-15     2019-01-23  8                      196          2019-4586          15015.46        15015.46       1
2019-01-13     2019-01-15  2                      181          2019-4585          79228.94        79228.94       1
                                                                                                                ..
2016-10-30     2017-01-05  67                     251          2016/3336          21834.81        21834.81       1
               2016-12-16  47                     61           2016/3324          10343.69        10181.95       1
                                                                                                  161.74         1
               2016-11-24  25                     119          2016/3337          11559.75        11559.75       1
2024-05-15     2024-05-21  6                      243          2024-6867          27151.58        27151.58       1
Name: count, Length: 5555, dtype: int64

In [10]:
df.loc[:, 'Invoice Reference'] = df['Invoice Reference'].str.replace('/', '-', regex=False)

In [11]:
df.value_counts()

Date Invoiced  Date Paid   No. Days taken to Pay  Client Name  Invoice Reference  Invoice Amount  Paid Amount
2010-04-30     2019-03-31  3257                   35           2010-554           53598.84        1728.99        1
2018-12-31     2019-04-17  107                    169          2018-4572          105343.26       175.51         1
2019-01-16     2019-02-26  41                     15           2019-4587          29925.97        29925.97       1
2019-01-15     2019-01-23  8                      196          2019-4586          15015.46        15015.46       1
2019-01-13     2019-01-15  2                      181          2019-4585          79228.94        79228.94       1
                                                                                                                ..
2016-10-30     2017-01-05  67                     251          2016-3336          21834.81        21834.81       1
               2016-12-16  47                     61           2016-3324          10343.69        10181.95       1
                                                                                                  161.74         1
               2016-11-24  25                     119          2016-3337          11559.75        11559.75       1
2024-05-15     2024-05-21  6                      243          2024-6867          27151.58        27151.58       1
Name: count, Length: 5555, dtype: int64

In [12]:
df.describe()

       No. Days taken to Pay  Client Name  Invoice Amount   Paid Amount
count            5555.000000  5555.000000    5.555000e+03  5.555000e+03
mean              146.153555   137.697570    1.209148e+05  9.573390e+04
std               241.556510    84.131069    1.891890e+05  1.489545e+05
min                 0.000000     1.000000    5.189780e+03  1.000000e-02
25%                33.000000    57.000000    2.183481e+04  1.631417e+04
50%                69.000000   143.000000    5.685841e+04  4.400334e+04
75%               150.000000   210.000000    1.345176e+05  1.075698e+05
max              3257.000000   281.000000    2.498671e+06  2.250469e+06

In [13]:
df['Invoice Reference'].is_unique

False

In [14]:
print(df['Invoice Reference'].value_counts())

Invoice Reference
2022-5975    12
2017-3909    12
2022-5904    11
2018-4105    10
2017-3986    10
             ..
2017-4011     1
2017-4012     1
2017-3674     1
2017-3548     1
2016-3045     1
Name: count, Length: 3285, dtype: int64

In [15]:
df.dtypes

Date Invoiced             object
Date Paid                 object
No. Days taken to Pay      int64
Client Name                int64
Invoice Reference         object
Invoice Amount           float64
Paid Amount              float64
dtype: object

In [16]:
df['Date Invoiced'] = pd.to_datetime(df['Date Invoiced'], errors='coerce')
df['Date Paid'] = pd.to_datetime(df['Date Paid'], errors='coerce')

In [17]:
df.dtypes

Date Invoiced            datetime64[ns]
Date Paid                datetime64[ns]
No. Days taken to Pay             int64
Client Name                       int64
Invoice Reference                object
Invoice Amount                  float64
Paid Amount                     float64
dtype: object

In [18]:
print(df.isnull().sum())  # Shows missing value count per column

Date Invoiced            0
Date Paid                0
No. Days taken to Pay    0
Client Name              0
Invoice Reference        0
Invoice Amount           0
Paid Amount              0
dtype: int64

In [19]:
print(df.duplicated().sum())  # Number of duplicate rows

0

In [20]:
print(df.describe())  # Summary statistics for numeric columns[2][4]

                       Date Invoiced                      Date Paid  \
count                           5555                           5555
mean   2018-07-14 04:16:22.466246656  2018-12-07 07:57:29.648964864
min              2010-04-30 00:00:00            2015-01-04 00:00:00
25%              2016-04-28 00:00:00            2016-09-01 00:00:00
50%              2017-10-31 00:00:00            2018-04-08 00:00:00
75%              2019-10-23 00:00:00            2020-03-18 12:00:00
max              2024-05-15 00:00:00            2024-05-29 00:00:00
std                              NaN                            NaN

       No. Days taken to Pay  Client Name  Invoice Amount   Paid Amount
count            5555.000000  5555.000000    5.555000e+03  5.555000e+03
mean              146.153555   137.697570    1.209148e+05  9.573390e+04
min                 0.000000     1.000000    5.189780e+03  1.000000e-02
25%                33.000000    57.000000    2.183481e+04  1.631417e+04
50%                69.000000   143.000000    5.685841e+04  4.400334e+04
75%               150.000000   210.000000    1.345176e+05  1.075698e+05
max              3257.000000   281.000000    2.498671e+06  2.250469e+06
std               241.556510    84.131069    1.891890e+05  1.489545e+05

In [21]:
print(df['Client Name'].value_counts())

Client Name
15     272
120    183
195    177
227    119
1      115
      ...
121      1
164      1
247      1
56       1
157      1
Name: count, Length: 280, dtype: int64

In [27]:
# Regex: four digits, dash, one or more digits
pattern = r'^\d{4}-\d+$'

# Inspect rows that DO NOT match the regex
non_matching_rows = df[~df['Invoice Reference'].str.match(pattern, na=False)]

print(non_matching_rows)

     Date Invoiced  Date Paid  No. Days taken to Pay  Client Name  \
115     2014-11-30 2015-04-23                    144            2
233     2015-04-30 2015-09-20                    143           10
234     2014-12-31 2015-06-01                    152           10
236     2014-12-31 2016-05-11                    497           10
237     2014-12-31 2016-05-16                    502           10
...            ...        ...                    ...          ...
5510    2015-04-30 2015-07-09                     70          264
5514    2015-04-30 2015-07-09                     70          264
5572    2016-03-31 2016-05-25                     55          267
5579    2019-08-29 2019-08-29                      0          269
5666    2014-10-30 2015-08-04                    278          281

     Invoice Reference  Invoice Amount  Paid Amount
115            E14-643        15557.24     15557.24
233            E15-683       177628.16    177628.16
234            E14-647        88423.03     88423.03
236            E14-650       118573.03     52699.13
237            E14-650       118573.03     65873.91
...                ...             ...          ...
5510           E15-689        13939.27     13939.27
5514           E15-689         7818.61      7818.61
5572       2016-2999v1         7546.75      7546.75
5579           RV 4426       632574.92    632574.92
5666           E14-632        79851.28     41135.51

[188 rows x 7 columns]

In [28]:
df = df[df['Invoice Reference'].str.match(pattern, na=False)]

In [29]:
# Inspect rows that DO NOT match the regex
non_matching_rows = df[~df['Invoice Reference'].str.match(pattern, na=False)]

print(non_matching_rows)

Empty DataFrame
Columns: [Date Invoiced, Date Paid, No. Days taken to Pay, Client Name, Invoice Reference, Invoice Amount, Paid Amount]
Index: []

In [30]:
df.to_csv('cleaned_invoices.csv', index=False)